
            body{
                text-align: center;
                background-color: rgb(49, 4, 4);;
            }

            div{
                background-color:beige;
                width:550px;
                text-align:center;
                margin:auto;
              
            }
            #but1{
                margin-left:200px;;
                text-align: center;

            }
           

      