{% load static %}
<html>
    <head>
       <link rel="stylesheet" href="{% static 'css/c1.css' %}">
    </head>
    <div>
        <table >
            <tr>
                <td id="er"> 
                    <lable>
                        Name
                    </lable>
                </td>
                <td id="er">
                    <input type="text" placeholder="Enter name"/>
                </td>
            </tr>
            <tr>
                <td id="er"> 
                    <lable>
                        Email
                    </lable>
                </td>
                <td id="er">
                    <input type="Email" placeholder="Enter Email"/>
                </td>
                <tr>
                    <td id="er" > 
                        <lable>
                            Password
                        </lable>
                    </td>
                    <td id="er">
                        <input type="Password" placeholder="Enter Password"/>
                    </td>
            </tr>
            <tr>
            <td id="er"> 
                <lable>
                    Phone number
                </lable>
            </td id="er">
            <td id="er">
                <input type="number" placeholder="Enter Phone number"/>
            </td>
    </tr>
    <tr>
    <td id="er"> 
        <lable>
           Gender
        </lable>
    </td>
    <td id="er"> 
        <input type="radio" name="r1" /> Male</input>
    

        <input type="radio" name="r1"  /> FeMale</input>
  
        <input type="radio" name="r1"  /> Others</input>
    </td>
    </tr>
    <tr>
    <td id="er"> <lable> Select</lable></td>
    <td id="er">
        <select>
       <option>select</option>
       <option>C</option>
       <option>Java</option>
       <option>Python</option>
       <option>Sql</option>
       <option>HTML</option>
    </select>
    </td>
    </tr>
    <tr>
        <td id="er"> <lable> Zip Code</td>
        <td id="er">
           <input type="number" />
        
        </td>
        </tr>
        <tr>
            <td id="er"> About</td>
            <td id="er"><textarea> Description</textarea></td>
        </tr>
        <tr>
            <td  id="er" colspan="2" > <button id="ert" >register here</button></td>          
        </tr>
        
        </table>
    </div>
</html>