{% load static %}
<!DOCTYPE html>
<html>
    <head>
        
      
    <link rel="stylesheet" href="styles1.css"/>
    </head>
    <body>
        <header>
            <h1> Indian Cricketrs</h1>
            <div id="links">
                <a href="">Rohit sharma</a>
                <a href="">Virat Kohli</a>
                <a href="">Ravi Ashwin</a>
                <a href="">KL Rahul</a>
            </div>
        </header>
        <div id="landing-page">
            <div id="content">
                <h1>
                    All the Best Team India
                </h1>
                <p>
                   An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!
                </p>
                <button id="lading-page-button"> Watch live Match</button>

            </div>
        </div>
        <section id="main-section">
            <h1>
                Enjoy The World Cup
            </h1>
            <p>
                An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!

            </p>
            <button id="main-section-button"> Watch live matches</button>

        </section>
        <section id="India-Team">
            <h1>
                India Team Eleven
            </h1>
            <p>
                An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!

             
            </p>
            <div id="image-section">
                <img src="{% static 'images/kohli2.jpg' %}"  height="300px" width="300px"alt="Image not found"/>
                <img src="{% static 'images/dhoni.webp' %}"  height="300px" width="300px"alt="Image not found"/>
                <img src="{% static 'images/bumrah.webp' %}"  height="300px" width="300px"alt="Image not found"/>
                <img src="{% static 'images/siraj m.webp' %}" height="300px" width="300px" alt="Image not found"/>
                <img src="{% static 'images/rahul.jpg' %}"  height="300px" width="300px"alt="Image not found"/>
            </div>
        </section>
        <section>
            <div id="top-order">
            <h1> Top Order Batsman's</h1>
            <p>  An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!

            </p>
            <img src="{% static 'images/kohli2.jpg' %}"  height="300px" width="300px">
            <p>

            </p>
            <button>View Details</button>
            </div>
            <div id="top-order">
                <h1> Top Order Batsman's</h1>
                <p>  An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!
    
                </p>
                <img src="{% static 'images/dhoni.webp' %}" height="300px" width="300px">
                <p>
                    
                </p>
                <button>View Details</button>
                </div>
                <div id="top-order">
                    <h1> Top Order Batsman's</h1>
                    <p>  An emphatic performance and an emphatic win by India, who move to the top of the table and are looking stronger than ever. That Bumrah slower ball to Rizwan will be talked about for years to come. Read all about it our post-match features. We are done here though. Thanks for tuning in. You guys have been awesome with your comments. On behalf of Danyal, Thilak and Ranjith, this is me Ashish signing off. Ciao!
        
                    </p>
                    <img src="{% static 'images/bumrah.webp' %}"  height="300px" width="300px">
                    <p>
                        
                    </p>
                    <button> View Details</button>
                    </div>
        </section>
    </body>
</html>