{% load static %}
<!Doctype html>
<html>
    <head>
        <style>
            table{border-color:red;
                color:green;
                background-color:black;
                border-collapse:collapse;


            }

        </style>
    </head>
<body>
    <table border="5 px" cellpadding="5px" cellspacing="5px">
        <thead>
            <tr>
                <th>EMPID</th>
                <th>EmpNname</th>
                <th>EmpSalary</th>
                <th>company</th>
                <th>EmpDesig</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> JSP101</td>
                <td> Mr.RAVEESH</td>
                <td> 100000</td>
                <td> JSPIDERS</td>
                <td> Vice President</td>
            </tr>
            <tr>
                <td> JSP102</td>
                <td> Mr.HARSHAD VALI</td>
                <td> 90000</td>
                <td> JSPIDERS</td>
                <td>Sr.Trainer</td>
            </tr>
            <tr>
                <td> JSP103</td>
                <td> Mr.Santhosh</td>
                <td> 80000</td>
                <td> JSPIDERS</td>
                <td> Sr.Trainer</td>
            </tr>
            <tr>
                <td> JSP104</td>
                <td> Mr.Kishore</td>
                <td> 80000</td>
                <td> JSPIDERS</td>
                <td> Sr.Trainer</td>
            </tr>
        </tbody>
    </table>
</body>

</html>