{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/c4.css' %}">
           </head>
    <body>
        <div class="d">
            <a href="#">Home</a>
            <a href="#">Balayya</a>
            <a href="#">Chiru</a>
            <a href="#">Jali</a>
            <a href="#">Konda</a>
        </div>
        <div>

        <h1> Tollywood Heros</h1>

        <div><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>


            <div class="img">
            <img src="{% static 'images/catty.jpg' %}" height="250px" width="250px"  align="left"/>
            <img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="right" />
            </div>
        <div><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>

        </div>
         <div>
                <h1> Balayya</h1>


                <div> <p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable. </p></div>
                <div class="m">
                <div class="img"><img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="left" />
                    <img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="left" />
                    <img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="left" />
                    <img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="left" /></div>
                    </div>
                    <div ><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>


            </div>
        <div>
                    <h1>Chiru</h1>
                    <div><p> Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable. </p></div>
                    <div class="m">
                    <div class="img"><img src="{% static 'images/catty.jpg' %}" height="250px" width="250px" align="left" />

                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                        </div>
                        </div>
                        <div ><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>
                    </div>


        <div>
                        <h1>Konda</h1>
                        <p> Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable. </p>
                        <div class="m">
                        <div class="img"><img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
                        </div>
                        </div>
                        <div ><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>


    </div>
    <div>
        <h1>Jali</h1>
        <p> Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable. </p>
        <div class="m">
        <div class="img"><img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
            <img src="{% static 'images/catty.jpg' %}"height="250px" width="250px" align="left" />
        </div>
        </div>
        <div ><p>Phishing sites which expects to take the victims confidential data by diverting them to surf a fake website page that resembles a honest to goodness one is another type of criminal acts through the internet and its one of the especially concerns toward numerous areas including e-managing an account and retailing. Phishing site detection is truly an unpredictable and element issue including numerous components and criteria that are not stable.</p> </div>



    </div>

    </body>
</html>
